<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="in4.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <table>
        <tr>
          <td>
            <div class="divl"><img src="newlo.png" width="40px" height="38px"></div>
          </td>
          <td>
            <div class="divt nt">Homels</div>
          </td>
        </tr>
      </table>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nt1 nav-link" href="/home"  style="color: white;">Home</a>
        </li>
       
      
       
      </ul>
    </div>
  </nav>
  <div class="c1">
      <div class="container">
        <ul class="g">
          <li>
            <img src="newlo.png" width="70px" height="68px"">
          </li>
          <li>
            <h3 style="padding:5px;color: rgb(58, 137, 228); font-size: 27px; font-weight: bold; font-family: 'Raleway', sans-serif;position: relative; top:
             12px;">Homels Online Room Booking</h3>
          </li>
        </ul>
          <div class="dat">
            <ul>
              <li><p>Date : 12/2/3000</p></li>
              <li><p>+91 8978075776</p></li>
              <li><p>Appolo Hospitals</p></li>
            </ul>
          </div>
          <div class="h1">
              <h3>Booking details</h3>
          </div>
          <div class="bt">
            <table class="table table-light table-condensed" style="width: 500px;">
              <thead></thead>
              <tbody>
                <tr class="table-warning">
                  <td>Name</td>
                  <td>:</td>
                  <td>T Vasanth</td>
                </tr>
                <tr style="background-color: rgb(255, 216, 180);">
                  <td>Mobile</td>
                  <td>:</td>
                  <td>7780376293</td>
                </tr>
                <tr class="table-warning">
                  <td>Email</td>
                  <td>:</td>
                  <td>Vasanthvasanth@gmail.com</td>
                </tr>
                <tr style="background-color: rgb(255, 216, 180);">
                  <td>Roomtype</td>
                  <td>:</td>
                  <td>General</td>
                </tr>
                <tr class="table-warning">
                  <td>No of Rooms</td>
                  <td>:</td>
                  <td>5</td>
                </tr>
                <tr style="background-color: rgb(255, 216, 180);">
                  <td>CheckIn</td>
                  <td>:</td>
                  <td>1/2/2020</td>
                </tr>
                <tr class="table-warning">
                  <td>CheckOut</td>
                  <td>:</td>
                  <td>3/2/2020</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="rm">
            <h5>Total Cost</h5>


          </div>
      </div>
  </div>
</body>
</html>